<form action="/patient/add" method="post">
 <p>
     <label>First Name</label><br/><input value="" name="patientFullName"/><br/><br/>
     <label>Last Name</label><br/><input value="" name="patientLastName"/><br/><br/>
     <button type="submit">Add Patient</button>
 </p>
</form>